.about-history{
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.about-history-wrapper {
	display: flex;
	max-width: 1300px;
	justify-content: space-between;
	align-items: center;
	margin-top: 147px;
	padding: 339px 0 323px;
	background-image: url(../img/Group.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.about{
	text-align: right;
}
.about-history-block {
	max-width: 523px;
}
.section_title{
	font-family: $fonts-h;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: $color-y;
}
.title-right{
	text-align: right;
	position: relative;
	&::after{
		content: "";
		background-image:  url(../img/spoon.svg);
		background-size: 40px 9px;
		position: absolute;
		width: 40px;
		height: 9px;
		top: 86px;
		right: 8px;
	}
}
.title-left{
position: relative;
&::after{
	content: "";
	background-image:  url(../img/spoon.svg);
	background-size: 40px 9px;
	position: absolute;
	width: 40px;
	height: 9px;
	top: 86px;
	left: 0;
	transform: rotate(180deg);
}
}
.about_text{
	margin: 48px 0;
}
.p-right {
	text-align: right;
}
