.main {
	display: flex;
	padding-top: 48px;
	justify-content: center;
	align-items: center;
}
.main_tag {
	writing-mode: sideways-lr;
	display: flex;
	justify-content: center;
	margin-right: 158px;
	p+p {
		margin-bottom: 40px;
	}
}

.main_text {
	max-width: 453px; 
	margin-right: 180px;
}
.main_subtitle {
	font-family: $fonts-h;
	font-weight: 700;
	font-size: 23px;
	line-height: 130%;
	text-transform: capitalize;
	position: relative;
}
.main_subtitle::after {
	content: "";
	background-image:  url(../img/spoon.svg);
	background-size: 40px 9px;
	position: absolute;
	width: 40px;
	height: 9px;
	top: 34px;
	left: 0;
	transform: rotate(180deg);

}
.main_title{
	font-family: $fonts-h;
	font-weight: 700;
font-size: 90px;
line-height: 130%;
text-transform: capitalize;
color: $color-y;
margin: 16px 0 32px;
}
.main_p-text {
	color: $color-g;
	margin-bottom: 32px;
}
.main_btn {
	display: inline-block;
	padding: 8px 32px;
	background-color: $color-y;
	font-family: $fonts-h;
	font-weight: 700;
	font-size: 16px;
color: #0C0B08;
	transition: .3s linear;
}
.main_btn:hover{
	transform: scale(1.2);
}
