.menu-section_nav{
	background-image: url(../img/menu_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 261px 0 264px;
}
.menu_link{
font-family: $fonts-h;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: $color-w;
transition: .3s linear;
cursor: pointer;
&:hover{
	text-decoration-line: underline;
}
}
.menu_item+.menu_item {
	margin-top: 64px;
}
.menu_subtitle{
	position: relative;
	text-align: center;
	&::after{
	position: absolute;
	display: block;
	top: 36px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}}
.menu_title {
	text-align: center;
	margin-bottom: 64px;
}
.menu-section_content {
	padding: 150px 0;
}
.menu_wrapper{
	display: flex;
	justify-content: space-around;
}

.menu-page_title{
	font-family: $fonts-h;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 130%;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: $color-w;
margin-bottom: 48px;
}


.menu-page_name {
	min-width: 192px;
	font-family: $fonts-h;
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 150%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: $color-y;
padding-bottom: 8px;
}
.menu-page_price{
	font-family: $fonts-h;
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
text-align: center;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: $color-w;
position: relative;
&::before{
	content: '';
	width: 119px;
	height: 1px;
background-color: $color-g;
position: absolute;
display: block;
top: 0;
right: 50px;
bottom: 0;
margin: auto;
}
}
.tr {
	display: flex;
	justify-content: space-between;
}
.menu-page_tare {
	font-family: $fonts-t;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: $color-g;
margin-bottom: 40px;
}
.table {
	min-width: 412px;
	width: 100%;
}
.menu-page_btn{
	display: flex;
justify-content: center;
margin-top: 64px;
}