@import '_reset';
@import '_variable';

html, body{
	background: #0C0B08;
	color: $color-w;
	font-family: $fonts-t;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: 0.04em;
}
.container {
	max-width: 1680px;
	width: 100%;
	margin: 0 auto;
}
.btn {
	display: inline-block;
	padding: 8px 32px;
	background-color: $color-y;
	font-family: $fonts-h;
	font-weight: 700;
	font-size: 16px;
color: #0C0B08;
	transition: .3s linear;
}
.btn:hover{
	transform: scale(1.2);
}
@import 'header';
@import 'main';
@import 'about';

@import '_footer';