section.awards_section.wrapper 
	.awards_info 
		h3.subtitle.awards_subtitle Awards & recognition
		h2.section_title.awards_title Our Laurels
		.awards_wraper 
			.awards_item 
				img(src="img/2.png", alt="")
				.awards-item_info 
					h4.awards-info_title Bib Gourmond
					p.awards-info_text Lorem ipsum dolor sit amet, consectetur.
			.awards_item 
				img(src="img/1.png", alt="")
				.awards-item_info 
					h4.awards-info_title Rising Star
					p.awards-info_text Lorem ipsum dolor sit amet, consectetur.
			.awards_item 
				img(src="img/5.png", alt="")
				.awards-item_info 
					h4.awards-info_title AA Hospitality 
					p.awards-info_text Lorem ipsum dolor sit amet, consectetur.
			.awards_item 
				img(src="img/3.png", alt="")
				.awards-item_info 
					h4.awards-info_title Outstanding Chef
					p.awards-info_text Lorem ipsum dolor sit amet, consectetur.
	.awards_img 
		img(src="img/awards.jpg", alt="")