header.header.container
	.header_logo 
		a(href="http://#") 
			img(src="img/Logo.png", alt="logo")
	.header_nav 
		ul.nav_list 
			li.nav_item
				a.nav_link(href="#") Home
			li.nav_item
				a.nav_link(href="#") Pages
			li.nav_item
				a.nav_link(href="#") Contact Us
			li.nav_item
				a.nav_link(href="#") Blog
			li.nav_item
				a.nav_link(href="#") Landing
	.header_service
		.service_log 
			a(href="#") Log in / Registration
		.service_book 
			a(href="#") Book Table




