main.main.container 
	.main_tag 
		p #Bar
		p #Gericht
	.main_text 
		h3.main_subtitle.subtitle Chase the new Flavour
		h1.main_title The key to <br> Fine dining
		p.main_p-text Sit tellus lobortis sed senectus vivamus molestie. Condimentum volutpat morbi facilisis quam scelerisque sapien. Et, penatibus aliquam amet tellus 
		a.main_btn.btn(href="#") Explore Menu
	.main_img
		img(src="img/hero-img.png", alt="herro img")