section.menu-section 
	.menu-section_nav
		.container 
			ul.menu_list 
				li.menu_item 
					a.menu_link(href="#") Bar Menu
				li.menu_item 
					a.menu_link(href="#") Food Menu
				li.menu_item 
					a.menu_link(href="#") Desserts Menu
	.menu-section_content 
		.container
			h3.subtitle.menu_subtitle Menu that fits you palatte
			h2.section_title.menu_title Today’s Special
			.menu_wrapper
				.menu-page 
					h4.menu-page_title Wine & Beer
					
					.table 
						.tr 
							.td
								a.menu-page_name(href="#") Chapel Hill Shiraz
							.td.menu-page_price $56
						.menu-page_tare AU | Bottle
						.tr 
							.td 
								a.menu-page_name(href="#") Catena Malbec
							.td.menu-page_price $59
						.menu-page_tare  AR | Bottle
						.tr 
							.td 
								a.menu-page_name(href="#") La Vieille Rosé
							.td.menu-page_price $44
						.menu-page_tare  FR | 750 ml
						.tr 
							.td 
								a.menu-page_name(href="#") Rhino Pale Ale
							.td.menu-page_price $31
						.menu-page_tare CA | 750 ml
						.tr 
							.td
								a.menu-page_name(href="#") Irish Guinness
							.td.menu-page_price $26
						.menu-page_tare  IE | Bottle
				.menu_img 
						img(src="img/menu_img.png", alt="menu img")
				.menu-page
					h4.menu-page_title Cocktails
					.table 
						.tr 
							.td 
								a.menu-page_name(href="#") Aperol Spritz
							.td.menu-page_price $20
						.menu-page_tare  Aperol | Villa Marchesi prosecco | soda | 30ml
						.tr 
							.td 
								a.menu-page_name(href="#") Dark 'N' Stormy
							.td.menu-page_price $16
						.menu-page_tare  Dark rum | Ginger beer | Slice of lime 
						.tr 
							.td 
								a.menu-page_name(href="#") Daiquiri
							.td.prise_line
							.td.menu-page_price $10
						.menu-page_tare  Rum | Citrus juice | Sugar
						.tr 
							.td 
								a.menu-page_name(href="#") Old Fashioned
							.td.menu-page_price $31
						.menu-page_tare  Bourbon | Brown sugar | Angostura Bitters
						.tr 
							.td 
								a.menu-page_name(href="#") Negroni
							.td.menu-page_price $26
						.menu-page_tare  Gin | Sweet Vermouth | Campari | Orange garnish
		.menu-page_btn
			a.btn(href="#") View More