section.team 
	.wrapper
		.team_wrapp 
			.team_img 
				img(src="img/chef.png", alt="chef foto")
			.team_info 
				h3.subtitle.team_subtitle Chef’s Word
				h2.section_title.team_title What we believe in
				p.team_text Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit . auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue ac consequat, aliquam molestie lectus eu. Congue iaculis integer curabitur semper sit nunc.
				.shefs_block 
					a.shef_name(href="#") Kevin Luo
					a.shef_position(href="#") Chef & Founder
					img.shef_graf(src="img/chef-write.svg", alt="")
				