section.testimony_section.container
	h3.subtitle.testimony_subtitle Testimony
	h2.section_title.testimony_title Happy customers
	.wrapper.testimony_wrap 
		.testimony_card 
			.testimony_img 
				img(src="img/foto1.jpg", alt="")
			.testimony_info
				p.testimony_text Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
				p.testimony_name Wade Warren
				p.testimony_position Sommelier
		.testimony_card 
			.testimony_img 
				img(src="img/foto2.jpg", alt="")
			.testimony_info
				p.testimony_text Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
				p.testimony_name Jane Cooper
				p.testimony_position Chef
		.testimony_card 
			.testimony_img 
				img(src="img/foto3.jpg", alt="")
			.testimony_info
				p.testimony_text Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
				p.testimony_name Robert Fox
				p.testimony_position Chef
		.testimony_card 
			.testimony_img 
				img(src="img/foto4.jpg", alt="")
			.testimony_info
				p.testimony_text Lorem ipsum dolor sit amet, consectetur adipiscing sit. auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit. Nulla scelerisque scelerisque congue.
				p.testimony_name Brooklyn Simmons
				p.testimony_position Caterer

