section 
	div.video.video_section
		a.video__link(href="https://youtu.be/KQ1ZA0KAAEM" autohide=2)
			picture
				img(src="img/videoposter.jpg", alt="")
		button.video__button.btn
			img(src="img/Play.svg", alt="")